In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [3]:
camera = pd.read_csv("Traffic Cameras.csv")

In [4]:
camera.head()

,OBJECTID,STATEWIDE_ID,DISTRICT_ID,STATUS_ID,MPMS_PROJ_ID,PLAN_DEPLOY_YEAR,INSTALL_TYPE_ID,STRUCT_TYPE_ID,POLE_HEIGHT,LOC_DISTRICT_NO,...,IS_FROM_REGIONAL,IS_FROM_ROPS,IS_FROM_MPMS,RECORD_UPDATE,ID,GIS_UPDATE_DATE,GIS_GEOMETRY_UPDATE_DATE,SE_ANNO_CAD_DATA,GPID,Has Geometry
0,8445,CAM-06-271,CM 126,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:41 PM,568,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8445,Y
1,8446,CAM-06-272,CM 127,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:41 PM,569,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8446,Y
2,8447,CAM-06-273,CM 128,1,86285.0,2011,1.0,8.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:42 PM,570,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8447,Y
3,8448,CAM-06-274,CM 129,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:43 PM,571,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8448,Y
4,8449,CAM-06-275,CM 130,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:43 PM,572,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8449,Y

### Load Accident DATA

In [5]:
def read_crash_data(year):
    file_path = f"Philadelphia_{year}/CRASH_Philadelphia_{year}.csv"
    crash_data = pd.read_csv(file_path, low_memory=False)
    return crash_data

for year in range(2006, 2011):
    globals()[f"crash{year}"] = read_crash_data(year)
    print(f"crash{year} with shape: {globals()[f'crash{year}'].shape}")

crash2006 with shape: (11753, 100)
crash2007 with shape: (11625, 100)
crash2008 with shape: (10676, 100)
crash2009 with shape: (10742, 100)
crash2010 with shape: (11070, 100)

In [6]:
def read_crash_data(year):
    file_path = f"Philadelphia_{year}/FLAG_Philadelphia_{year}.csv"
    crash_data = pd.read_csv(file_path)
    return crash_data

for year in range(2006, 2011):
    globals()[f"flag{year}"] = read_crash_data(year)
    print(f"flag{year} with shape: {globals()[f'flag{year}'].shape}")

flag2006 with shape: (11753, 120)
flag2007 with shape: (11625, 120)
flag2008 with shape: (10676, 120)
flag2009 with shape: (10742, 120)
flag2010 with shape: (11070, 120)

In [7]:
def read_crash_data(year):
    file_path = f"Philadelphia_{year}/ROADWAY_Philadelphia_{year}.csv"
    crash_data = pd.read_csv(file_path)
    return crash_data

for year in range(2006, 2011):
    globals()[f"roadway{year}"] = read_crash_data(year)
    print(f"roadway{year} with shape: {globals()[f'roadway{year}'].shape}")

roadway2006 with shape: (21540, 13)
roadway2007 with shape: (20227, 13)
roadway2008 with shape: (18267, 13)
roadway2009 with shape: (19312, 13)
roadway2010 with shape: (19678, 13)

In [8]:
roadway2006

,CRN,ACCESS_CTRL,ADJ_RDWY_SEQ,LANE_COUNT,OFFSET,RDWY_COUNTY,RDWY_ORIENT,RDWY_SEQ_NUM,ROAD_OWNER,ROUTE,SEGMENT,SPEED_LIMIT,STREET_NAME
0,2006062399,3.0,4,2,1602.0,67,E,4,2,1016,60.0,35.0,LINDEN AV
1,2006055305,NaN,4,1,502.0,67,U,3,2,8012,20.0,35.0,NaN
2,2006034194,3.0,5,2,0.0,67,NaN,5,2,4007,10.0,25.0,CLARISSA ST
3,2006079948,3.0,3,2,2250.0,67,N,3,2,1005,130.0,25.0,CASTOR AV
4,2006094184,3.0,4,2,0.0,67,W,4,2,2014,51.0,25.0,LEHIGH AV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21535,2007022296,NaN,4,2,NaN,67,W,4,4,NaN,NaN,25.0,ASHLAND AV
21536,2007010239,NaN,3,2,NaN,67,N,4,4,NaN,NaN,NaN,22ND ST
21537,2006105138,3.0,3,2,1550.0,67,N,3,2,1020,20.0,35.0,PHILMONT AV
21538,2007022731,3.0,3,3,957.0,67,N,3,2,3007,150.0,35.0,KELLY DR
21539,2007009808,3.0,4,2,962.0,67,S,6,2,2009,71.0,35.0,ARAMINGO AV

In [9]:
flag2006

,CRN,AGGRESSIVE_DRIVING,ALCOHOL_RELATED,ANGLE_CRASH,ATV,BACKUP_CONGESTION,BACKUP_NONRECURRING,BACKUP_PRIOR,BICYCLE,CELL_PHONE,...,UNLICENSED,UNSIGNALIZED_INT,URBAN,VEHICLE_FAILURE,VEHICLE_TOWED,VULNERABLE_ROAD_USER,VULNERABLE_ROAD_USER_FATAL,WET_ROAD,WORK_ZONE,YOUNG_DRIVER
0,2006033283,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2006123825,0,0,1,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,0
2,2006113461,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,2006080851,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,2006103260,1,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11748,2006062720,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
11749,2007007551,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
11750,2006054944,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
11751,2007007577,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
11752,2007058653,1,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,1,0,0

In [10]:
crash2006

,CRN,ARRIVAL_TM,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,...,WORK_ZONE_TYPE,WORKERS_PRES,WZ_CLOSE_DETOUR,WZ_FLAGGER,WZ_LAW_OFFCR_IND,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,WZ_WORKERS_INJ_KILLED
0,2006103675,635.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006096594,1422.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006096609,2023.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006102080,1800.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006125746,1753.0,1,0,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11748,2007022372,2320.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11749,2007022817,2219.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11750,2007022849,305.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11751,2007022740,1305.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11752,2007023008,945.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
camera

,OBJECTID,STATEWIDE_ID,DISTRICT_ID,STATUS_ID,MPMS_PROJ_ID,PLAN_DEPLOY_YEAR,INSTALL_TYPE_ID,STRUCT_TYPE_ID,POLE_HEIGHT,LOC_DISTRICT_NO,...,IS_FROM_REGIONAL,IS_FROM_ROPS,IS_FROM_MPMS,RECORD_UPDATE,ID,GIS_UPDATE_DATE,GIS_GEOMETRY_UPDATE_DATE,SE_ANNO_CAD_DATA,GPID,Has Geometry
0,8445,CAM-06-271,CM 126,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:41 PM,568,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8445,Y
1,8446,CAM-06-272,CM 127,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:41 PM,569,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8446,Y
2,8447,CAM-06-273,CM 128,1,86285.0,2011,1.0,8.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:42 PM,570,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8447,Y
3,8448,CAM-06-274,CM 129,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:43 PM,571,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8448,Y
4,8449,CAM-06-275,CM 130,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:43 PM,572,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8449,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,3498,CAM-02-084,C_D2_144_Tamarack (Portable),1,NaN,2024,3.0,8.0,NaN,2,...,NaN,NaN,NaN,2/27/2024 8:22:52 PM,3498,NaN,NaN,NaN,3498,Y
1191,3536,CAM-10-036,C_D10_80-53_Canoe Ripple (Knox) \n,1,NaN,2024,1.0,8.0,NaN,10,...,NaN,NaN,NaN,2/27/2024 10:56:47 PM,3536,NaN,NaN,NaN,3536,Y
1192,3537,CAM-01-023,C_D1_80_MM 35_Clintonville\n,1,NaN,2024,1.0,8.0,NaN,1,...,NaN,NaN,NaN,2/27/2024 8:18:19 PM,3537,NaN,NaN,NaN,3537,Y
1193,3596,CAM-01-024,PC_D4_81-171.8,1,NaN,2012,3.0,8.0,30.0,1,...,NaN,NaN,NaN,2/27/2024 8:18:20 PM,3596,NaN,NaN,NaN,3596,Y
1194,3696,CAM-02-085,C_D10_I-80_MM 99_Dubois-Brockway Exit,1,NaN,2021,1.0,8.0,NaN,2,...,NaN,NaN,NaN,2/27/2024 8:22:53 PM,3696,NaN,NaN,NaN,3696,Y

### Data Cleaning

In [12]:
def print_column_names_with_index(df):
    print("Column names and their index locations:")
    for i, column_name in enumerate(df.columns):
        print(f"{i} Column '{column_name}'")

print_column_names_with_index(crash2006)

Column names and their index locations:
0 Column 'CRN'
1 Column 'ARRIVAL_TM'
2 Column 'AUTOMOBILE_COUNT'
3 Column 'BELTED_DEATH_COUNT'
4 Column 'BELTED_SUSP_SERIOUS_INJ_COUNT'
5 Column 'BICYCLE_COUNT'
6 Column 'BICYCLE_DEATH_COUNT'
7 Column 'BICYCLE_SUSP_SERIOUS_INJ_COUNT'
8 Column 'BUS_COUNT'
9 Column 'CHLDPAS_DEATH_COUNT'
10 Column 'CHLDPAS_SUSP_SERIOUS_INJ_COUNT'
11 Column 'COLLISION_TYPE'
12 Column 'COMM_VEH_COUNT'
13 Column 'CONS_ZONE_SPD_LIM'
14 Column 'COUNTY'
15 Column 'CRASH_MONTH'
16 Column 'CRASH_YEAR'
17 Column 'DAY_OF_WEEK'
18 Column 'DEC_LAT'
19 Column 'DEC_LONG'
20 Column 'DISPATCH_TM'
21 Column 'DISTRICT'
22 Column 'DRIVER_COUNT_16YR'
23 Column 'DRIVER_COUNT_17YR'
24 Column 'DRIVER_COUNT_18YR'
25 Column 'DRIVER_COUNT_19YR'
26 Column 'DRIVER_COUNT_20YR'
27 Column 'DRIVER_COUNT_50_64YR'
28 Column 'DRIVER_COUNT_65_74YR'
29 Column 'DRIVER_COUNT_75PLUS'
30 Column 'EST_HRS_CLOSED'
31 Column 'FATAL_COUNT'
32 Column 'HEAVY_TRUCK_COUNT'
33 Column 'HORSE_BUGGY_COUNT'
34 Column 'HOUR_OF_DAY'
35 Column 'ILLUMINATION'
36 Column 'INJURY_COUNT'
37 Column 'INTERSECT_TYPE'
38 Column 'INTERSECTION_RELATED'
39 Column 'LANE_CLOSED'
40 Column 'LATITUDE'
41 Column 'LN_CLOSE_DIR'
42 Column 'LOCATION_TYPE'
43 Column 'LONGITUDE'
44 Column 'MAX_SEVERITY_LEVEL'
45 Column 'MCYCLE_DEATH_COUNT'
46 Column 'MCYCLE_SUSP_SERIOUS_INJ_COUNT'
47 Column 'MOTORCYCLE_COUNT'
48 Column 'MUNICIPALITY'
49 Column 'NONMOTR_COUNT'
50 Column 'NONMOTR_DEATH_COUNT'
51 Column 'NONMOTR_SUSP_SERIOUS_INJ_COUNT'
52 Column 'NTFY_HIWY_MAINT'
53 Column 'PED_COUNT'
54 Column 'PED_DEATH_COUNT'
55 Column 'PED_SUSP_SERIOUS_INJ_COUNT'
56 Column 'PERSON_COUNT'
57 Column 'POLICE_AGCY'
58 Column 'POSSIBLE_INJ_COUNT'
59 Column 'RDWY_SURF_TYPE_CD'
60 Column 'RELATION_TO_ROAD'
61 Column 'ROAD_CONDITION'
62 Column 'ROADWAY_CLEARED'
63 Column 'SCH_BUS_IND'
64 Column 'SCH_ZONE_IND'
65 Column 'SECONDARY_CRASH'
66 Column 'SMALL_TRUCK_COUNT'
67 Column 'SPEC_JURIS_CD'
68 Column 'SUSP_MINOR_INJ_COUNT'
69 Column 'SUSP_SERIOUS_INJ_COUNT'
70 Column 'SUV_COUNT'
71 Column 'TCD_FUNC_CD'
72 Column 'TCD_TYPE'
73 Column 'TFC_DETOUR_IND'
74 Column 'TIME_OF_DAY'
75 Column 'TOT_INJ_COUNT'
76 Column 'TOTAL_UNITS'
77 Column 'UNB_DEATH_COUNT'
78 Column 'UNB_SUSP_SERIOUS_INJ_COUNT'
79 Column 'UNBELTED_OCC_COUNT'
80 Column 'UNK_INJ_DEG_COUNT'
81 Column 'UNK_INJ_PER_COUNT'
82 Column 'URBAN_AREA'
83 Column 'URBAN_RURAL'
84 Column 'VAN_COUNT'
85 Column 'VEHICLE_COUNT'
86 Column 'WEATHER1'
87 Column 'WEATHER2'
88 Column 'WORK_ZONE_IND'
89 Column 'WORK_ZONE_LOC'
90 Column 'WORK_ZONE_TYPE'
91 Column 'WORKERS_PRES'
92 Column 'WZ_CLOSE_DETOUR'
93 Column 'WZ_FLAGGER'
94 Column 'WZ_LAW_OFFCR_IND'
95 Column 'WZ_LN_CLOSURE'
96 Column 'WZ_MOVING'
97 Column 'WZ_OTHER'
98 Column 'WZ_SHLDER_MDN'
99 Column 'WZ_WORKERS_INJ_KILLED'

#### Crash Data

In [13]:
def keep_specific_columns_inplace(df, keep_indexes):
    drop_indexes = [i for i in range(len(df.columns)) if i not in keep_indexes]
    df.drop(df.columns[drop_indexes], axis=1, inplace=True)

keep_indexes = [0, 2, 5, 8, 11, 14, 15, 17, 18, 19, 34, 35, 37, 38, 39, 40, 42, 43, 47, 53, 60, 61, 64, 65, 71, 72, 76, 85, 86]
keep_specific_columns_inplace(crash2006, keep_indexes)
keep_specific_columns_inplace(crash2007, keep_indexes)
keep_specific_columns_inplace(crash2008, keep_indexes)
keep_specific_columns_inplace(crash2009, keep_indexes)
keep_specific_columns_inplace(crash2010, keep_indexes)

In [14]:
crash2006.shape

(11753, 29)

In [15]:
crash2006.isnull().sum()

CRN                         0
AUTOMOBILE_COUNT            0
BICYCLE_COUNT               0
BUS_COUNT                   0
COLLISION_TYPE              0
COUNTY                      0
CRASH_MONTH                 0
DAY_OF_WEEK                 0
DEC_LAT                  2513
DEC_LONG                 2513
HOUR_OF_DAY                 0
ILLUMINATION                0
INTERSECT_TYPE              0
INTERSECTION_RELATED    11753
LANE_CLOSED                 1
LATITUDE                 2515
LOCATION_TYPE               0
LONGITUDE                2515
MOTORCYCLE_COUNT            0
PED_COUNT                   0
RELATION_TO_ROAD            0
ROAD_CONDITION              0
SCH_ZONE_IND             1067
SECONDARY_CRASH         11753
TCD_FUNC_CD                 0
TCD_TYPE                    0
TOTAL_UNITS                 0
VEHICLE_COUNT               0
WEATHER1                    0
dtype: int64

Location missing

In [16]:
crash2006.drop(['LONGITUDE', 'LATITUDE','INTERSECTION_RELATED', 'SECONDARY_CRASH'], axis=1)
crash2007.drop(['LONGITUDE', 'LATITUDE','INTERSECTION_RELATED', 'SECONDARY_CRASH'], axis=1)
crash2008.drop(['LONGITUDE', 'LATITUDE','INTERSECTION_RELATED', 'SECONDARY_CRASH'], axis=1)
crash2009.drop(['LONGITUDE', 'LATITUDE','INTERSECTION_RELATED', 'SECONDARY_CRASH'], axis=1)
crash2010.drop(['LONGITUDE', 'LATITUDE','INTERSECTION_RELATED', 'SECONDARY_CRASH'], axis=1)

,CRN,AUTOMOBILE_COUNT,BICYCLE_COUNT,BUS_COUNT,COLLISION_TYPE,COUNTY,CRASH_MONTH,DAY_OF_WEEK,DEC_LAT,DEC_LONG,...,MOTORCYCLE_COUNT,PED_COUNT,RELATION_TO_ROAD,ROAD_CONDITION,SCH_ZONE_IND,TCD_FUNC_CD,TCD_TYPE,TOTAL_UNITS,VEHICLE_COUNT,WEATHER1
0,2010105912,2,0,0,4,67,9,5,39.9627,-75.2471,...,0,0,1,1,N,3,2,2,2,3
1,2010099508,1,1,0,4,67,9,7,39.9865,-75.1579,...,0,0,1,1,N,3,2,2,1,3
2,2010100908,0,0,0,4,67,9,4,39.8993,-75.1755,...,0,0,1,1,N,3,2,2,2,3
3,2010094271,1,0,0,8,67,9,6,40.0554,-75.1433,...,0,1,1,1,N,0,0,2,1,3
4,2010110782,2,0,0,2,67,9,4,40.0353,-75.1214,...,0,0,1,1,N,3,2,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11065,2011023494,3,0,0,4,67,1,5,40.0260,-75.1467,...,0,0,1,1,N,3,2,3,3,3
11066,2011011021,1,0,0,7,67,12,2,39.8917,-75.2228,...,0,0,2,1,N,0,0,1,1,3
11067,2011000982,1,0,0,2,67,10,7,40.0543,-75.1413,...,0,0,1,1,N,0,0,2,2,3
11068,2011000990,2,0,0,1,67,11,1,40.0568,-75.1607,...,0,0,1,1,N,3,2,2,2,3
11069,2011001012,2,0,0,5,67,11,4,40.0406,-75.1787,...,0,0,1,1,N,3,2,2,2,3

#### Flag data

In [17]:
data_set_names = ['flag2006', 'flag2007', 'flag2008', 'flag2009', 'flag2010']

columns_to_keep = ['CRN', 'CURVED_ROAD', 'DISTRACTED', 'DRUG_RELATED', 'DRUGGED_DRIVER', 'IMPAIRED_DRIVER',
                   'INTERSECTION', 'INTERSTATE', 'SPEEDING', 'SPEEDING_RELATED', 'WET_ROAD']

for data_set_name in data_set_names:
    data_set = globals()[data_set_name]
    
    # Drop columns 
    data_set = data_set.drop(columns=data_set.columns.difference(columns_to_keep))
    
    # Remove rows containing a 0 in every column
    mask = data_set[columns_to_keep].eq(0).all(axis=1)
    data_set = data_set[~mask]
    
    globals()[data_set_name] = data_set

In [18]:
flag2006

,CRN,CURVED_ROAD,DISTRACTED,DRUG_RELATED,DRUGGED_DRIVER,IMPAIRED_DRIVER,INTERSECTION,INTERSTATE,SPEEDING,SPEEDING_RELATED,WET_ROAD
0,2006033283,0,0,0,0,0,0,0,0,0,0
1,2006123825,0,0,0,0,0,1,0,0,0,0
2,2006113461,0,0,0,0,0,1,0,0,0,0
3,2006080851,0,0,0,0,0,0,0,0,0,0
4,2006103260,0,0,0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
11748,2006062720,0,0,0,0,0,0,0,0,0,0
11749,2007007551,0,0,0,0,1,0,0,0,0,1
11750,2006054944,0,0,0,0,0,1,0,0,0,0
11751,2007007577,0,0,0,0,0,1,0,0,0,0
11752,2007058653,0,0,0,0,0,1,0,0,1,1

In [19]:
data_set_names = ['roadway2006', 'roadway2007', 'roadway2008', 'roadway2009', 'roadway2010']
columns_to_keep = ['CRN', 'LANE_COUNT', 'SPEED_LIMIT', 'STREET_NAME']

for data_set_name in data_set_names:
    data_set = globals()[data_set_name]
    
    # Drop columns
    data_set = data_set.drop(columns=data_set.columns.difference(columns_to_keep))
    
    globals()[data_set_name] = data_set

In [20]:
roadway2006

              CRN  LANE_COUNT  SPEED_LIMIT  STREET_NAME
0      2006062399           2         35.0    LINDEN AV
1      2006055305           1         35.0          NaN
2      2006034194           2         25.0  CLARISSA ST
3      2006079948           2         25.0    CASTOR AV
4      2006094184           2         25.0    LEHIGH AV
...           ...         ...          ...          ...
21535  2007022296           2         25.0   ASHLAND AV
21536  2007010239           2          NaN      22ND ST
21537  2006105138           2         35.0  PHILMONT AV
21538  2007022731           3         35.0     KELLY DR
21539  2007009808           2         35.0  ARAMINGO AV

[21540 rows x 4 columns]

#### Merge data sets

In [26]:
def merge_crash_and_flag(crash_df, flag_df):
    merged_df = pd.merge(crash_df, flag_df, on='CRN', how='left')
    return merged_df

years = [2006, 2007, 2008, 2009, 2010]
merged_data = {}

for year in years:
    crash_df = globals()[f'crash{year}']
    flag_df = globals()[f'flag{year}']
    
    merged_df = merge_crash_and_flag(crash_df, flag_df)
    
    merged_data[f'merged{year}'] = merged_df

In [29]:
merged_all = []

for year in years:
    merged_df_name = f'merged{year}'
    merged_all.append(merged_data[merged_df_name])

merged_final = pd.concat(merged_all, ignore_index=True)

In [30]:
merged_final

,CRN,AUTOMOBILE_COUNT,BICYCLE_COUNT,BUS_COUNT,COLLISION_TYPE,COUNTY,CRASH_MONTH,DAY_OF_WEEK,DEC_LAT,DEC_LONG,...,CURVED_ROAD,DISTRACTED,DRUG_RELATED,DRUGGED_DRIVER,IMPAIRED_DRIVER,INTERSECTION,INTERSTATE,SPEEDING,SPEEDING_RELATED,WET_ROAD
0,2006103675,1,0,0,1,67,8,4,40.0202,-75.1525,...,0,0,0,0,0,0,0,0,0,0
1,2006096594,2,0,0,2,67,6,5,40.0254,-75.0429,...,0,0,0,0,0,1,0,0,0,0
2,2006096609,1,0,0,4,67,8,4,40.0586,-75.2341,...,0,0,0,0,0,1,0,0,0,0
3,2006102080,0,0,0,8,67,9,2,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2006125746,1,1,0,4,67,11,4,39.9880,-75.1260,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55861,2011023494,3,0,0,4,67,1,5,40.0260,-75.1467,...,0,0,0,0,0,1,0,0,0,0
55862,2011011021,1,0,0,7,67,12,2,39.8917,-75.2228,...,1,0,0,0,0,0,1,0,1,0
55863,2011000982,1,0,0,2,67,10,7,40.0543,-75.1413,...,0,0,0,0,0,0,0,0,0,0
55864,2011000990,2,0,0,1,67,11,1,40.0568,-75.1607,...,0,0,0,0,0,1,0,0,0,0
55865,2011001012,2,0,0,5,67,11,4,40.0406,-75.1787,...,0,0,0,0,0,1,0,0,0,0

In [34]:
# Merge merged_final with camera DataFrame based on latitude and longitude
merged_final = pd.merge(merged_final, camera, left_on=['DEC_LAT', 'DEC_LONG'], right_on=['LATITUDE', 'LONGITUDE'], how='left')

# Create binary feature 'camera' indicating presence of camera
merged_final['camera'] = merged_final['DEC_LAT'].notna().astype(int)

# Drop unnecessary columns
merged_final.drop(columns=['DEC_LAT', 'DEC_LONG'], inplace=True)

In [35]:
merged_final

,CRN,AUTOMOBILE_COUNT,BICYCLE_COUNT,BUS_COUNT,COLLISION_TYPE,COUNTY,CRASH_MONTH,DAY_OF_WEEK,HOUR_OF_DAY,ILLUMINATION,...,IS_FROM_ROPS_y,IS_FROM_MPMS_y,RECORD_UPDATE_y,ID_y,GIS_UPDATE_DATE_y,GIS_GEOMETRY_UPDATE_DATE_y,SE_ANNO_CAD_DATA_y,GPID_y,Has Geometry_y,camera
0,2006103675,1,0,0,1,67,8,4,5.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2006096594,2,0,0,2,67,6,5,99.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2006096609,1,0,0,4,67,8,4,20.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,2006102080,0,0,0,8,67,9,2,17.0,1,...,NaN,NaN,2/27/2024 10:25:18 PM,1348.0,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,9068.0,N,0
4,2006102080,0,0,0,8,67,9,2,17.0,1,...,NaN,NaN,2/27/2024 10:25:18 PM,1354.0,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,9074.0,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440541,2011023494,3,0,0,4,67,1,5,20.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1440542,2011011021,1,0,0,7,67,12,2,1.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1440543,2011000982,1,0,0,2,67,10,7,2.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1440544,2011000990,2,0,0,1,67,11,1,8.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1440545,2011001012,2,0,0,5,67,11,4,16.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1