In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [14]:
camera = pd.read_csv("Traffic Cameras.csv")

In [15]:
camera['INSTALLATION_DATE'] = pd.to_datetime(camera['INSTALLATION_DATE'])

# Extract year from INSTALLATION_DATE
camera['Year'] = camera['INSTALLATION_DATE'].dt.year

# Group by year and count installations
installations_by_year = camera.groupby('Year').size().reset_index(name='Installations_Count')

print(installations_by_year)

      Year  Installations_Count
0   1992.0                   12
1   1998.0                   13
2   1999.0                   15
3   2000.0                    3
4   2001.0                   13
5   2002.0                    1
6   2003.0                   22
7   2004.0                   38
8   2005.0                   10
9   2006.0                   49
10  2007.0                   45
11  2008.0                   96
12  2009.0                   83
13  2010.0                   77
14  2011.0                   95
15  2012.0                   27
16  2013.0                   62
17  2014.0                   24
18  2015.0                   54
19  2016.0                   55
20  2017.0                   36
21  2018.0                   30
22  2019.0                   27
23  2020.0                    3
24  2021.0                   19
25  2022.0                   17
26  2023.0                   23
27  2024.0                    4

C:\Users\hangh\AppData\Local\Temp\ipykernel_11052\3811849126.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  camera['INSTALLATION_DATE'] = pd.to_datetime(camera['INSTALLATION_DATE'])

In [16]:
import pandas as pd

# Assuming your DataFrame is named camera
# Define a function to count addresses in Philadelphia County based on latitude and longitude
def count_addresses_in_philadelphia(camera, year):
    # Filter the DataFrame based on the year
    camera_year = camera[camera['Year'] == year]
    
    # Define the latitude and longitude range for Philadelphia County
    # These values are just approximations and might need adjustment based on your dataset
    philadelphia_latitude_range = (39.867005, 40.137959)
    philadelphia_longitude_range = (-75.280303, -74.955831)
    
    # Filter the DataFrame to include only addresses within Philadelphia County
    philadelphia_addresses = camera_year[
        (camera_year['LATITUDE'] >= philadelphia_latitude_range[0]) &
        (camera_year['LATITUDE'] <= philadelphia_latitude_range[1]) &
        (camera_year['LONGITUDE'] >= philadelphia_longitude_range[0]) &
        (camera_year['LONGITUDE'] <= philadelphia_longitude_range[1])
    ]
    
    # Count the number of addresses in Philadelphia County
    num_addresses = len(philadelphia_addresses)
    
    return num_addresses

In [17]:
for year in camera['Year'].unique():
    num_addresses = count_addresses_in_philadelphia(camera, year)
    print(f"Number of installations in Philadelphia County in {year}: {num_addresses}")

Number of installations in Philadelphia County in 2011.0: 10
Number of installations in Philadelphia County in 2012.0: 0
Number of installations in Philadelphia County in 2013.0: 13
Number of installations in Philadelphia County in 2009.0: 7
Number of installations in Philadelphia County in 2008.0: 40
Number of installations in Philadelphia County in 2010.0: 20
Number of installations in Philadelphia County in nan: 0
Number of installations in Philadelphia County in 2014.0: 2
Number of installations in Philadelphia County in 2016.0: 10
Number of installations in Philadelphia County in 2015.0: 3
Number of installations in Philadelphia County in 2017.0: 0
Number of installations in Philadelphia County in 2018.0: 6
Number of installations in Philadelphia County in 2019.0: 0
Number of installations in Philadelphia County in 2021.0: 0
Number of installations in Philadelphia County in 2023.0: 0
Number of installations in Philadelphia County in 2022.0: 0
Number of installations in Philadelphia County in 2007.0: 0
Number of installations in Philadelphia County in 2024.0: 0
Number of installations in Philadelphia County in 2001.0: 0
Number of installations in Philadelphia County in 2003.0: 0
Number of installations in Philadelphia County in 2002.0: 0
Number of installations in Philadelphia County in 2004.0: 1
Number of installations in Philadelphia County in 2005.0: 0
Number of installations in Philadelphia County in 2006.0: 2
Number of installations in Philadelphia County in 2020.0: 0
Number of installations in Philadelphia County in 1998.0: 9
Number of installations in Philadelphia County in 1999.0: 14
Number of installations in Philadelphia County in 2000.0: 0
Number of installations in Philadelphia County in 1992.0: 12

In [18]:
unique_years = sorted(camera['Year'].unique())

# Iterate over each year and print the number of installations in Philadelphia County
for year in unique_years:
    num_addresses = count_addresses_in_philadelphia(camera, year)
    print(f"{year}: {num_addresses}")

1992.0: 12
1998.0: 9
1999.0: 14
2000.0: 0
2001.0: 0
2002.0: 0
2003.0: 0
2007.0: 0
2008.0: 40
2009.0: 7
2010.0: 20
2011.0: 10
2012.0: 0
2013.0: 13
nan: 0
2004.0: 1
2005.0: 0
2006.0: 2
2014.0: 2
2015.0: 3
2016.0: 10
2017.0: 0
2018.0: 6
2019.0: 0
2020.0: 0
2021.0: 0
2022.0: 0
2023.0: 0
2024.0: 0

- crash
- flag
- roadway: speed limit

Pre/post program evaluation with 2008 as baseline

In [19]:
def read_crash_data(year):
    file_path = f"Philadelphia_{year}/CRASH_Philadelphia_{year}.csv"
    crash_data = pd.read_csv(file_path)
    return crash_data

for year in range(2006, 2011):
    globals()[f"crash{year}"] = read_crash_data(year)
    print(f"crash{year} with shape: {globals()[f'crash{year}'].shape}")

C:\Users\hangh\AppData\Local\Temp\ipykernel_11052\3187017673.py:3: DtypeWarning: Columns (92,93,96,97) have mixed types. Specify dtype option on import or set low_memory=False.
  crash_data = pd.read_csv(file_path)

crash2006 with shape: (11753, 100)
crash2007 with shape: (11625, 100)
crash2008 with shape: (10676, 100)
crash2009 with shape: (10742, 100)
crash2010 with shape: (11070, 100)

In [21]:
crash2006

,CRN,ARRIVAL_TM,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,...,WORK_ZONE_TYPE,WORKERS_PRES,WZ_CLOSE_DETOUR,WZ_FLAGGER,WZ_LAW_OFFCR_IND,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,WZ_WORKERS_INJ_KILLED
0,2006103675,635.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006096594,1422.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006096609,2023.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006102080,1800.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006125746,1753.0,1,0,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11748,2007022372,2320.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11749,2007022817,2219.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11750,2007022849,305.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11751,2007022740,1305.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11752,2007023008,945.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Philadelphia county doesn't show a decrease in accidents. Let's try to look at the specific locations of each camera.

In [20]:
camera

,OBJECTID,STATEWIDE_ID,DISTRICT_ID,STATUS_ID,MPMS_PROJ_ID,PLAN_DEPLOY_YEAR,INSTALL_TYPE_ID,STRUCT_TYPE_ID,POLE_HEIGHT,LOC_DISTRICT_NO,...,IS_FROM_ROPS,IS_FROM_MPMS,RECORD_UPDATE,ID,GIS_UPDATE_DATE,GIS_GEOMETRY_UPDATE_DATE,SE_ANNO_CAD_DATA,GPID,Has Geometry,Year
0,8445,CAM-06-271,CM 126,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,2/27/2024 8:32:41 PM,568,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8445,Y,2011.0
1,8446,CAM-06-272,CM 127,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,2/27/2024 8:32:41 PM,569,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8446,Y,2011.0
2,8447,CAM-06-273,CM 128,1,86285.0,2011,1.0,8.0,55.0,6,...,NaN,NaN,2/27/2024 8:32:42 PM,570,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8447,Y,2011.0
3,8448,CAM-06-274,CM 129,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,2/27/2024 8:32:43 PM,571,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8448,Y,2011.0
4,8449,CAM-06-275,CM 130,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,2/27/2024 8:32:43 PM,572,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8449,Y,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,3498,CAM-02-084,C_D2_144_Tamarack (Portable),1,NaN,2024,3.0,8.0,NaN,2,...,NaN,NaN,2/27/2024 8:22:52 PM,3498,NaN,NaN,NaN,3498,Y,NaN
1191,3536,CAM-10-036,C_D10_80-53_Canoe Ripple (Knox) \n,1,NaN,2024,1.0,8.0,NaN,10,...,NaN,NaN,2/27/2024 10:56:47 PM,3536,NaN,NaN,NaN,3536,Y,NaN
1192,3537,CAM-01-023,C_D1_80_MM 35_Clintonville\n,1,NaN,2024,1.0,8.0,NaN,1,...,NaN,NaN,2/27/2024 8:18:19 PM,3537,NaN,NaN,NaN,3537,Y,NaN
1193,3596,CAM-01-024,PC_D4_81-171.8,1,NaN,2012,3.0,8.0,30.0,1,...,NaN,NaN,2/27/2024 8:18:20 PM,3596,NaN,NaN,NaN,3596,Y,2012.0
1194,3696,CAM-02-085,C_D10_I-80_MM 99_Dubois-Brockway Exit,1,NaN,2021,1.0,8.0,NaN,2,...,NaN,NaN,2/27/2024 8:22:53 PM,3696,NaN,NaN,NaN,3696,Y,2021.0

map cameras to accidents with lat long.

In [22]:
merged_2006 = pd.merge(crash2006, camera, left_on=['DEC_LONG', 'DEC_LAT'], right_on=['LONGITUDE', 'LATITUDE'], how='inner')

merged_2007 = pd.merge(crash2007, camera, left_on=['DEC_LONG', 'DEC_LAT'], right_on=['LONGITUDE', 'LATITUDE'], how='inner')

In [23]:
merged_2006

,CRN,ARRIVAL_TM,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,...,IS_FROM_ROPS,IS_FROM_MPMS,RECORD_UPDATE,ID,GIS_UPDATE_DATE,GIS_GEOMETRY_UPDATE_DATE,SE_ANNO_CAD_DATA,GPID,Has Geometry,Year
0,2006102080,1800.0,0,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 10:25:18 PM,1348,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,9068,N,NaN
1,2006102080,1800.0,0,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 10:25:18 PM,1354,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,9074,N,2015.0
2,2006102080,1800.0,0,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 10:25:28 PM,1370,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,9084,N,NaN
3,2006102080,1800.0,0,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 10:25:28 PM,1371,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,9085,N,NaN
4,2006102080,1800.0,0,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 10:25:28 PM,1372,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,9086,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52768,2007023207,1700.0,4,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 8:33:15 PM,625,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8268,N,NaN
52769,2007023207,1700.0,4,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 8:33:17 PM,628,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8271,N,NaN
52770,2007023207,1700.0,4,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 8:33:19 PM,632,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8273,N,NaN
52771,2007023207,1700.0,4,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 8:43:01 PM,647,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8285,N,NaN
52772,2007023207,1700.0,4,0,0,0,0,0,0,0,...,NaN,NaN,2/27/2024 8:43:02 PM,649,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8287,N,NaN