In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [3]:
pwd

'C:\\Users\\hangh\\Temple Course\\Projects in Data Science\\Data-Science-ITS-Capstone'

In [7]:
Crash = pd.read_csv("Statewide_2022/CRASH_Statewide_2022.csv")

In [8]:
Crash

,CRN,ARRIVAL_TM,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,...,WORK_ZONE_TYPE,WORKERS_PRES,WZ_CLOSE_DETOUR,WZ_FLAGGER,WZ_LAW_OFFCR_IND,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,WZ_WORKERS_INJ_KILLED
0,2022048971,6.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022050472,1028.0,2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022052006,1345.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022052044,1335.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022047585,844.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116032,2023003037,1857.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116033,2023008262,1857.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116034,2023008404,1446.0,1,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116035,2023003848,805.0,3,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116036,2023007611,1558.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
camera = pd.read_csv("Traffic Cameras.csv")

In [11]:
camera

,OBJECTID,STATEWIDE_ID,DISTRICT_ID,STATUS_ID,MPMS_PROJ_ID,PLAN_DEPLOY_YEAR,INSTALL_TYPE_ID,STRUCT_TYPE_ID,POLE_HEIGHT,LOC_DISTRICT_NO,...,IS_FROM_REGIONAL,IS_FROM_ROPS,IS_FROM_MPMS,RECORD_UPDATE,ID,GIS_UPDATE_DATE,GIS_GEOMETRY_UPDATE_DATE,SE_ANNO_CAD_DATA,GPID,Has Geometry
0,8445,CAM-06-271,CM 126,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:41 PM,568,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8445,Y
1,8446,CAM-06-272,CM 127,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:41 PM,569,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8446,Y
2,8447,CAM-06-273,CM 128,1,86285.0,2011,1.0,8.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:42 PM,570,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8447,Y
3,8448,CAM-06-274,CM 129,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:43 PM,571,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8448,Y
4,8449,CAM-06-275,CM 130,1,86285.0,2011,1.0,6.0,55.0,6,...,NaN,NaN,NaN,2/27/2024 8:32:43 PM,572,8/5/2019 1:14:05 PM,8/5/2019 1:14:05 PM,NaN,8449,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,3498,CAM-02-084,C_D2_144_Tamarack (Portable),1,NaN,2024,3.0,8.0,NaN,2,...,NaN,NaN,NaN,2/27/2024 8:22:52 PM,3498,NaN,NaN,NaN,3498,Y
1191,3536,CAM-10-036,C_D10_80-53_Canoe Ripple (Knox) \n,1,NaN,2024,1.0,8.0,NaN,10,...,NaN,NaN,NaN,2/27/2024 10:56:47 PM,3536,NaN,NaN,NaN,3536,Y
1192,3537,CAM-01-023,C_D1_80_MM 35_Clintonville\n,1,NaN,2024,1.0,8.0,NaN,1,...,NaN,NaN,NaN,2/27/2024 8:18:19 PM,3537,NaN,NaN,NaN,3537,Y
1193,3596,CAM-01-024,PC_D4_81-171.8,1,NaN,2012,3.0,8.0,30.0,1,...,NaN,NaN,NaN,2/27/2024 8:18:20 PM,3596,NaN,NaN,NaN,3596,Y
1194,3696,CAM-02-085,C_D10_I-80_MM 99_Dubois-Brockway Exit,1,NaN,2021,1.0,8.0,NaN,2,...,NaN,NaN,NaN,2/27/2024 8:22:53 PM,3696,NaN,NaN,NaN,3696,Y

In [13]:
camera['INSTALLATION_DATE'] = pd.to_datetime(camera['INSTALLATION_DATE'])

# Extract year from INSTALLATION_DATE
camera['Year'] = camera['INSTALLATION_DATE'].dt.year

# Group by year and count installations
installations_by_year = camera.groupby('Year').size().reset_index(name='Installations_Count')

print(installations_by_year)

      Year  Installations_Count
0   1992.0                   12
1   1998.0                   13
2   1999.0                   15
3   2000.0                    3
4   2001.0                   13
5   2002.0                    1
6   2003.0                   22
7   2004.0                   38
8   2005.0                   10
9   2006.0                   49
10  2007.0                   45
11  2008.0                   96
12  2009.0                   83
13  2010.0                   77
14  2011.0                   95
15  2012.0                   27
16  2013.0                   62
17  2014.0                   24
18  2015.0                   54
19  2016.0                   55
20  2017.0                   36
21  2018.0                   30
22  2019.0                   27
23  2020.0                    3
24  2021.0                   19
25  2022.0                   17
26  2023.0                   23
27  2024.0                    4

In [15]:
import pandas as pd

# Assuming your DataFrame is named camera
# Define a function to count addresses in Philadelphia County based on latitude and longitude
def count_addresses_in_philadelphia(camera, year):
    # Filter the DataFrame based on the year
    camera_year = camera[camera['Year'] == year]
    
    # Define the latitude and longitude range for Philadelphia County
    # These values are just approximations and might need adjustment based on your dataset
    philadelphia_latitude_range = (39.867005, 40.137959)
    philadelphia_longitude_range = (-75.280303, -74.955831)
    
    # Filter the DataFrame to include only addresses within Philadelphia County
    philadelphia_addresses = camera_year[
        (camera_year['LATITUDE'] >= philadelphia_latitude_range[0]) &
        (camera_year['LATITUDE'] <= philadelphia_latitude_range[1]) &
        (camera_year['LONGITUDE'] >= philadelphia_longitude_range[0]) &
        (camera_year['LONGITUDE'] <= philadelphia_longitude_range[1])
    ]
    
    # Count the number of addresses in Philadelphia County
    num_addresses = len(philadelphia_addresses)
    
    return num_addresses

In [21]:
for year in camera['Year'].unique():
    num_addresses = count_addresses_in_philadelphia(camera, year)
    print(f"Number of installations in Philadelphia County in {year}: {num_addresses}")

Number of installations in Philadelphia County in 2011.0: 10
Number of installations in Philadelphia County in 2012.0: 0
Number of installations in Philadelphia County in 2013.0: 13
Number of installations in Philadelphia County in 2009.0: 7
Number of installations in Philadelphia County in 2008.0: 40
Number of installations in Philadelphia County in 2010.0: 20
Number of installations in Philadelphia County in nan: 0
Number of installations in Philadelphia County in 2014.0: 2
Number of installations in Philadelphia County in 2016.0: 10
Number of installations in Philadelphia County in 2015.0: 3
Number of installations in Philadelphia County in 2017.0: 0
Number of installations in Philadelphia County in 2018.0: 6
Number of installations in Philadelphia County in 2019.0: 0
Number of installations in Philadelphia County in 2021.0: 0
Number of installations in Philadelphia County in 2023.0: 0
Number of installations in Philadelphia County in 2022.0: 0
Number of installations in Philadelphia County in 2007.0: 0
Number of installations in Philadelphia County in 2024.0: 0
Number of installations in Philadelphia County in 2001.0: 0
Number of installations in Philadelphia County in 2003.0: 0
Number of installations in Philadelphia County in 2002.0: 0
Number of installations in Philadelphia County in 2004.0: 1
Number of installations in Philadelphia County in 2005.0: 0
Number of installations in Philadelphia County in 2006.0: 2
Number of installations in Philadelphia County in 2020.0: 0
Number of installations in Philadelphia County in 1998.0: 9
Number of installations in Philadelphia County in 1999.0: 14
Number of installations in Philadelphia County in 2000.0: 0
Number of installations in Philadelphia County in 1992.0: 12

In [23]:
# Assuming 'camera' is your DataFrame containing the traffic camera data
# Get unique years and sort them
unique_years = sorted(camera['Year'].unique())

# Iterate over each year and print the number of installations in Philadelphia County
for year in unique_years:
    num_addresses = count_addresses_in_philadelphia(camera, year)
    print(f"{year}: {num_addresses}")

1992.0: 12
1998.0: 9
1999.0: 14
2000.0: 0
2001.0: 0
2002.0: 0
2003.0: 0
2007.0: 0
2008.0: 40
2009.0: 7
2010.0: 20
2011.0: 10
2012.0: 0
2013.0: 13
nan: 0
2004.0: 1
2005.0: 0
2006.0: 2
2014.0: 2
2015.0: 3
2016.0: 10
2017.0: 0
2018.0: 6
2019.0: 0
2020.0: 0
2021.0: 0
2022.0: 0
2023.0: 0
2024.0: 0