In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load the dataset

In [2]:
sixes = pd.read_csv('ROADWAY_PHILADELPHIA_2006.csv')

Check the columns, if useful or not

In [3]:
sixes.head()

,CRN,ACCESS_CTRL,ADJ_RDWY_SEQ,LANE_COUNT,OFFSET,RDWY_COUNTY,RDWY_ORIENT,RDWY_SEQ_NUM,ROAD_OWNER,ROUTE,SEGMENT,SPEED_LIMIT,STREET_NAME
0,2006062399,3.0,4,2,1602.0,67,E,4,2,1016,60.0,35.0,LINDEN AV
1,2006055305,NaN,4,1,502.0,67,U,3,2,8012,20.0,35.0,NaN
2,2006034194,3.0,5,2,0.0,67,NaN,5,2,4007,10.0,25.0,CLARISSA ST
3,2006079948,3.0,3,2,2250.0,67,N,3,2,1005,130.0,25.0,CASTOR AV
4,2006094184,3.0,4,2,0.0,67,W,4,2,2014,51.0,25.0,LEHIGH AV

Get rid of unwanted columns

In [4]:
delcolsixes = sixes.drop(columns=['ACCESS_CTRL', 'ADJ_RDWY_SEQ', 'LANE_COUNT', 'OFFSET', 'RDWY_COUNTY', 'RDWY_ORIENT', 'ROAD_OWNER', 'ROUTE', 'SEGMENT'])

Check if the columns were deleted

In [5]:
delcolsixes.head()

          CRN  RDWY_SEQ_NUM  SPEED_LIMIT  STREET_NAME
0  2006062399             4         35.0    LINDEN AV
1  2006055305             3         35.0          NaN
2  2006034194             5         25.0  CLARISSA ST
3  2006079948             3         25.0    CASTOR AV
4  2006094184             4         25.0    LEHIGH AV