In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load the dataset

In [2]:
sevens = pd.read_csv('ROADWAY_PHILADELPHIA_2007.csv')

Check the columns, if useful or not

In [3]:
sevens.head()

,CRN,ACCESS_CTRL,ADJ_RDWY_SEQ,LANE_COUNT,OFFSET,RDWY_COUNTY,RDWY_ORIENT,RDWY_SEQ_NUM,ROAD_OWNER,ROUTE,SEGMENT,SPEED_LIMIT,STREET_NAME
0,2007057367,3.0,4,2.0,594.0,67,E,4,2,4017,60.0,25.0,UPSAL ST
1,2007099457,NaN,4,4.0,NaN,67,N,3,4,NaN,NaN,35.0,BELMONT AV
2,2007082503,3.0,3,2.0,2422.0,67,E,3,2,0030,40.0,30.0,LANCASTER AV
3,2007066317,NaN,3,1.0,NaN,67,S,3,4,NaN,NaN,25.0,MITCHELL ST
4,2007107773,NaN,5,4.0,NaN,67,N,5,4,NaN,NaN,25.0,TWENTIETH ST

Get rid of unwanted columns

In [4]:
delcolsevens = sevens.drop(columns=['ACCESS_CTRL', 'ADJ_RDWY_SEQ', 'LANE_COUNT', 'OFFSET', 'RDWY_COUNTY', 'RDWY_ORIENT', 'ROAD_OWNER', 'ROUTE', 'SEGMENT'])

Check if the columns were deleted

In [5]:
delcolsevens.head()

          CRN  RDWY_SEQ_NUM  SPEED_LIMIT   STREET_NAME
0  2007057367             4         25.0      UPSAL ST
1  2007099457             3         35.0    BELMONT AV
2  2007082503             3         30.0  LANCASTER AV
3  2007066317             3         25.0   MITCHELL ST
4  2007107773             5         25.0  TWENTIETH ST